body {
  font-family: Arial, sans-serif;
  padding-top: 35px;
  text-align: center;
  background-color: #f4f4f9;
  color: #333;
}

h1 {
  color: #2d3a3f;
  font-size: 2.5rem;
  margin: 0;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
}

.header {
  text-align: center;
  margin: 20px auto;
  max-width: 500px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

#pokemonImage {
  width: 200px;
  height: 200px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  font-size: 1.2rem;
  width: 200px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:focus {
  border-color: #4e9bff;
  box-shadow: 0 0 5px rgba(72, 161, 255, 0.5);
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: #4e9bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #3578e5;
}

button:disabled {
  background-color: #b4b4b4;
  cursor: not-allowed;
}

#feedback {
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  width: 80%;
  max-width: 500px;
  margin: 10px auto;
  text-align: center;
  transition: all 0.3s ease;
}

#feedback.hidden {
  display: none;
}

#feedback.correct {
  background-color: #4caf50;
  color: white;
}

#feedback.incorrect {
  background-color: #ff9800;
  color: white;
}

#feedback.game-over {
  background-color: #f44336;
}

.hidden {
  display: none;
}

#letterBoxesContainer {
  display: flex; /* Use flexbox for layout */
  flex-wrap: nowrap; /* Prevent wrapping */
  overflow-x: auto; /* Allow horizontal scrolling */
  justify-content: center; /* Center the letter boxes */
  margin-top: 10px; /* Optional: spacing above letter boxes */
}

.letter-box {
  width: 40px; /* Consistent box width */
  height: 40px; /* Consistent box height */
  margin-right: 2px; /* Space between boxes */
  display: inline-flex; /* Align items */
  justify-content: center; /* Horizontally centers text */
  align-items: center; /* Vertically centers text */
  font-weight: bold; /* Bold text */
  font-size: 20px; /* Ensure font size is consistent */
  border: 2px solid #ccc; /* Border for boxes */
  border-radius: 5px; /* Rounded corners */
  background-color: gray; /* Background color */
  color: white; /* Text color */
  box-sizing: border-box; /* Include padding/border in dimensions */
}

.guess-row {
  display: flex;
  justify-content: center;
  margin: 10px;
}

#attemptsCount,
#correctGuessesCount {
  font-size: 1.2rem;
  margin-top: 10px;
  font-weight: bold;
}

.correct {
  background-color: #4caf50;
  color: white;
}

.wrong-position {
  background-color: #ffeb3b;
  color: black;
}

.incorrect {
  background-color: #9e9e9e;
  color: white;
}
